[user]
	name = \"tracyone\"
	email = \"tracyone@live.cn\"
[credential]
	helper = cache --timeout=86400
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	st = status
	co = checkout
	ci = commit --signoff
	commit = commit --signoff
	br = branch
	sb = branch -a
	mt = mergetool
	d = difftool
	dst = diff --staged
	sub = submodule
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	c1 = clone --depth=1
[mergetool]
	prompt = false
[web]
	browser = open
[http]
	proxy = 127.0.0.1:1087
	sslverify = false
