[user]
	name = \"tracyone\"
	email = \"tracyone@live.cn\"
[credential]
	helper = cache --timeout=86400
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = 0
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	mt = mergetool
[mergetool]
	prompt = false
