Host github.com
    HostName github.com
    User tracyone
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_id_rsa
Host bitbucket.org
    HostName bitbucket.org
    User tracyone
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/bitbucket_id_rsa
Host gitlab.edukit.com
    HostName http://192.168.4.250:8000
    User zxb 
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/gitlab_id_rsa
