[Desktop Entry]
Type=Application
Exec=thunderbird
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=雷鸟
Name=雷鸟
Comment[zh_CN]=mozilla开发的邮件客户端
Comment=mozilla开发的邮件客户端
