[Desktop Entry]
Type=Application
Exec=xlight
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[zh_CN]=调节背景灯光
Name=调节背景灯光
Comment[zh_CN]=
Comment=
